@media (max-width: 1300px){
  .service-card.is--main{
    max-width: 30%;
  }
  .water-therapy{
    height: 450px;
  }
  .title{
    font-size: 55px;
  }
  .paragraph-inner{
    font-size: 20px;
  }

  .first-screen-item {
    gap: 40px;
  }

  .first-screen {
    margin-bottom: 100px;
  }
  .services {
    margin-bottom: 100px;
  }
  .service-card{
    min-height: 150px;
  }
  .section-title-item {
    font-size: 35px;
  }
  .section-title {
    margin-bottom: 80px;
  }

}

@media (max-width: 992px){
  .navigation-container{
    display: none;
  }
  .navigation-container.is--open{
    display: block;
  }
  .menu-list {
    display: block;
  }
  .btn-menu-expand{
    display: flex;
  }
  .logo{
    width: 40px;
    height: 40px;
  }
  body{
    padding-top: 100px;
  }
  .water-therapy{
    height: 300px;
  }
  .section-title-item {
    font-size: 30px;
  }
  .first-screen {
    margin-bottom: 90px;
  }
  .section-title {
    margin-bottom: 70px;
  }
  .about-list-item-photo{
    max-width: 450px;
  }

}

@media (max-width: 768px){
  .service-card.is--main{
    max-width: initial;
    flex-basis: 100%;
    background-image: url("../assets/images/photo3.png");
  }
  .first-screen {
    margin-bottom: 80px;
  }
  .section-title {
    margin-bottom: 60px;
  }
  .about-list-item-photo{
    max-width: 350px;
  }
  .about-list-massage {
    padding-top: 30px;
  }
  .about-list-hydro{
    padding-top: 5px;
  }
  .about-list{
    gap: 40px;
  }
  .price-item-photo{
    max-height: 300px;
    max-width: 400px;
  }
  .price-table{
    margin-top: 50px;
  }
  .container-price{
    gap: 60px;
  }
  .price-table-item{
    font-size: 14px;
  }
  .price-table-item-cost{
    font-size: 14px;
  }

}

@media (max-width: 575px){
  .service-cards{
    flex-basis: 100%;
  }
  .service-card{
    min-height: 100px;
  }
  .service-card-name {
    max-width: 550px;
  }
  .first-screen {
    margin-bottom: 70px;
  }
  .section-title {
    margin-bottom: 50px;
  }
  .about-list{
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .about-list-item-photo.when-575px{
    display: none;
  }
  .about-list-item-photo{
    max-height: 50px;
    max-width: initial;
  }
  .container-price{
    flex-wrap: wrap;
  }
  .price-item-photo{
    max-height: 350px;
    max-width: 450px;
  }
  .container-price{
    gap: 20px;
  }
}



