@media (max-width: 1300px){
  .service-card.is--main{
    max-width: 30%;
  }
  .water-therapy{
    height: 450px;
  }
  .title{
    font-size: 55px;
  }
  .paragraph-inner{
    font-size: 20px;
  }
  .first-screen-item {
    gap: 40px;
  }
  .first-screen {
    margin-bottom: 100px;
  }
  .services {
    margin-bottom: 100px;
  }
  .service-card{
    min-height: 150px;
  }
  .section-title-item {
    font-size: 35px;
  }
  .section-title {
    margin-bottom: 80px;
  }
  .about{
    margin-bottom: 120px;
  }
  .review-item-text{
    padding: 20px 40px 40px 40px;
  }
  .review-name{
    padding: 40px 0 0 40px ;
  }
  .container-reviews{
    margin-bottom: 120px;
  }
}

@media (max-width: 992px){
  .navigation-container{
    display: none;
  }
  .navigation-container.is--open{
    display: flex;
    position: fixed;
    right: 0;
    top: 100px;
    height: calc(100vh - 100px);
    width: 200px;
    background-color: #162831;
    flex-direction: column;
    justify-content: space-between;
  }
  .menu-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .menu-list-item{
    font-size: 20px;
  }
  .btn-menu-expand{
    display: flex;
  }
  .logo{
    width: 40px;
    height: 40px;
  }
  .button {
    font-size: 15px;
    margin-bottom: 10px;
  }
  body{
    padding-top: 100px;
  }
  .water-therapy{
    height: 300px;
  }
  .section-title-item {
    font-size: 30px;
  }
  .first-screen {
    margin-bottom: 90px;
  }
  .section-title {
    margin-bottom: 70px;
  }
  .about-list-item-photo{
    max-width: 450px;
  }
  .about{
    margin-bottom: 100px;
  }
  .services {
    margin-bottom: 100px;
  }
  .map{
    flex-basis: 600px;
    margin-right: 35px;
  }
  .container-reviews{
    margin-bottom: 100px;
  }
  .price-table{
    margin-top: 50px;
  }
}

@media (max-width: 768px){
  .service-card.is--main{
    max-width: initial;
    flex-basis: 100%;
    background-image: url("../assets/images/photo3.png");
  }
  .first-screen {
    margin-bottom: 80px;
  }
  .section-title {
    margin-bottom: 60px;
  }
  .about-list-item-photo{
    max-width: 350px;
  }
  .about-list-massage {
    padding-top: 30px;
  }
  .about-list-hydro{
    padding-top: 5px;
  }
  .about-list{
    gap: 40px;
  }
  .price-table{
    margin-top: 30px;
  }
  .container-price{
    gap: 60px;
  }
  .price-table-item{
    font-size: 14px;
  }
  .price-table-item-cost{
    font-size: 14px;
  }
  .about{
    margin-bottom: 80px;
  }
  .services {
    margin-bottom: 80px;
  }
  .map{
    flex-basis: 480px;
    margin-right: 25px;
    height: 480px;
  }
  .location-item{
    padding: 20px 30px;
  }
  .location-item-name{
    font-size: 17px;
  }
  .contacts-names{
    font-size: 10px;
  }
  .contacts-list-item{
    gap: 15px;
    margin-bottom: 15px;
  }
  .container-reviews{
    margin-bottom: 80px;
  }
  .footer {
    margin-top: 80px;
  }
}

@media (max-width: 575px){
  .service-cards{
    flex-basis: 100%;
  }
  .service-card{
    min-height: 100px;
  }
  .service-card-name {
    max-width: 550px;
  }
  .first-screen {
    margin-bottom: 70px;
  }
  .section-title {
    margin-bottom: 50px;
  }
  .review-name{
    padding: 40px 0 0 40px ;
  }
  .review-item-text{
    padding: 20px 40px 40px 40px;
  }
  .about-list{
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .about-list-item{
    background-image: url("../assets/images/photo4.png");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    min-height: 270px;
  }
  .about-list-massage {
    padding: 30px 20px;
  }
  .about-list-hydro{
    padding: 20px;
  }
  .about-list-text{
    padding-left: 20px;
  }
  .about-list-item-photo{
    display: none;
  }
  .container-price{
    flex-wrap: wrap;
    gap: 20px;
  }
  .about{
    margin-bottom: 50px;
  }
  .services {
    margin-bottom: 50px;
  }
  .price{
    margin-bottom: 50px;
  }
  .price-table{
    margin: 20px auto;
    order: 1;
  }
  .price-item-gift{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: initial;
    flex-basis: 100%;
    order: 0;
  }
  .contacts-container{
    display: flex;
    flex-wrap: wrap;
  }
  .map{
    margin-right: 0;
    margin-bottom: 20px;
    height: 300px;
    flex-basis: 100%;
  }
  .location-item{
    padding: 20px 30px;
  }
  .location-item-name{
    font-size: 18px;
  }
  .contacts-names{
    font-size: 12px;
  }
  .contacts-list-item{
    gap: 15px;
    margin-bottom: 10px;
  }
  .container-reviews{
    margin-bottom: 50px;
  }
  .footer {
    margin-top: 60px;
  }
}

@media (max-width: 400px){
  .about-list-text{
    font-size: 12px;
  }
  .price-item-photo{
    max-height: 270px;
    max-width: 370px;
  }
  .about-list-text{
    padding: 0 20px 0 20px;
  }
  .reviews-list-item {
    height: 400px;
  }
  .review-name{
    padding: 30px 0 0 30px ;
  }

  .review-item-text{
    padding: 20px 30px 30px 30px;
  }
}



