.contacts-container{
  width: 100%;
  max-width: 1316px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
}

.map{
  height: 600px;
  max-width: 856px;
  flex-basis: 856px;
  border-radius: 10px;
  margin-right: 48px;
  overflow: hidden;
}

.location{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 24px;
}

.location-item{
  display: flex;
  border-radius: 10px;
  background: #018ABE;
  padding: 35px 45px;
  flex-direction: column;
  flex: 1;
}

.location-item-name{
  max-width: 300px;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
}

.contacts-names{
  display: flex;
  font-size: 14px;
  font-weight: 400;
}

.contacts-list{
  margin-bottom: 10px;
}

.contacts-list-item{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.contacts-button{
  padding: 9px 15px;
  border-radius: 3px;
  color: #018ABE;
  border: none;
  max-width: 160px;
}