.price{
  margin-bottom: 150px;
}

.container-price{
  width: 100%;
  max-width: 1096px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  gap: 120px;
}

.logo-price{
  width: 18px;
  height: 9px;
  border-radius: 0 50px;
}

.price-table{
  max-width: 416px;
  max-height: 250px;
  flex: 1;
  margin-top: 100px;
}

.price-table-item{
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  display: flex;
  max-width: 268px;
  padding: 0 20px 30px 20px;
}

.price-table-item-cost{
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
  max-width: 87px;
}

.price-item-gift{
  max-width: 520px;
  max-height: 500px;
  flex: 1;
}

.price-item-photo{
  border-radius: 10px;
  flex: 1;
  background-position: center;
}

.price-gift{
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 140%;
  padding-top: 30px;
}