.price{
  margin-bottom: 150px;
}

.container-price{
  width: 100%;
  max-width: 1096px;
  margin: 0 auto;
  padding: 0 10px;
}

.price-list{
  display: flex;
  flex: 1;
  gap: 130px;
  justify-content: space-between;
}

.logo-price{
  width: 18px;
  height: 9px;
  flex-shrink: 0;
  border-radius: 0px 50px;
}

.price-table{
  max-width: 416px;
  max-height: 250px;
  flex-shrink: 0;
  margin-top: 100px;
}


.price-table-item{
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  display: flex;
  width: 268px;
  padding: 0 20px 30px 20px;
}

.price-table-item-cost{
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
  width: 87px;
}

.price-item-photo{
  max-width: 526px;
  max-height: 455px;
  flex-shrink: 0;
}

.price-gift{
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 140%;
  padding-top: 30px;
}