.services {
  margin-bottom: 150px;
}

.service-card.is--main{
  background-image: url("../assets/images/photo2.png");
  flex-basis: auto;
  max-width: 30%;
  max-height: 540px;
}

.services-list{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.service-cards{
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.service-card{
  flex: 1;
  min-height: 260px;
  background-image: url("../assets/images/photo3.png");
  background-size: cover;
  background-position: center;
  flex-basis: auto;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}

.service-card:after{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  height: 7px;
}

.service-card:hover:after{
  background-color: #018ABE;
}

.service-card-name {
  font-size: 24px;
  font-weight: 700;
  padding: 30px;
  max-width: 336px;
}
