html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #162831;
  font-family: 'El Messiri', sans-serif;
  color: #fff;
  padding-top: 120px;
}

main{
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1316px;
  margin: 0 auto;
  padding: 0 10px;
}

.background {
  background-image: url("../images/photo1.png");
  height: 600px;
  border-radius: 15px;
  overflow: hidden;
}

.water-therapy{
  text-align: center;
}

.paragrph-inner{
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding: 0 66px;
}

.white-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 136px 0 40px 0;
}

.title {
  font-size: 64px;
  font-weight: 700;
  line-height: 140%;
  max-width: 400px;
  margin: 0 auto;
}

.water-therapy {
  margin-bottom: 150px;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.section-title-item {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  padding: 0 45px;
}




.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
